  {{#each this}}
    <p class="card-body2 animate__animated animate__fadeIn"> 
    {{party_comment}} - {{user.first_name}} {{getFirstLetter user.last_name}}. on {{format_date created_at}}
    </p>
  {{/each}}