{{#if posts.length}}
<div class="card flex-column">
  {{#each posts as |post|}}
  {{> editParty post}}
  {{/each}}
</div>
{{else}}
<div class="card flex-column">
  <p style="margin-left: 10px;">To add a new post, click on the button at the bottom of the page.</p>
</div>
{{/if}}