<div class="card">
  <h2 class="card-header">Edit Party</h2>
  <form class="card-body" id="edit-post-form">
    <div>
      <label class="form-label">Party Name:</label>
      <input class="form-input" type="text" name="post-title" value="{{party.party_name}}"/>
    </div>
    <div>
      <label class="form-label">Party Location:</label>
      <input class="form-input" type="text" name="post-title" value="{{party.party_location}}"/>
    </div>
    <div>
      <label class="form-label">Party Date:</label>
      <input class="form-input" type="text" name="post-title" value="{{party.party_date}}"/>
    </div>
 
    <button class="button" type="submit">UPDATE POST</button>
    <button class="button" type="click" id="delete-btn">DELETE</button>
    <input type="hidden" name="post-id" value="{{post.id}}"/>
  </form>
</div>
<script src="/js/edit.js"></script>